<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{asset("styles/header/header.css")}}">
		<link rel="stylesheet" href="{{asset("styles/footer/footer.css")}}">
		<link rel="stylesheet" href="{{asset("styles/services/services.css")}}">
		<link rel="stylesheet" href="{{asset("styles/base.css")}}">

	</head>
	<body>
	<div class="details-modal-window-bg hide"></div>
		{% include "header/index.html.twig" %}

		<main class="content-container">
			{% for service in services %}
				<div class="service">
					<img src="{{service.img}}" alt="">
					<h2 class="service-title">{{service.name}}</h2>
					<button class="details-btn">Voir en details</button>
				</div>
				<div class="details-modal-window hide">
						<button class="close-btn"><div class="cross">
							<div class="cross-line left-line">
							</div>
							<div class="cross-line right-line"></div>
						</div></button>
						<p class="details-text">{{service.details}}</p>
					
					</div>
			{% endfor %}
		</main>
		{% include "footer/index.html.twig" %}
		<script src="{{asset("scripts/detailsModalWindow.js")}}"></script>
	</body>
</html>
