<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{asset("styles/header/header.css")}}">
		<link rel="stylesheet" href="{{asset("styles/footer/footer.css")}}">
		<link rel="stylesheet" href="{{asset("styles/base.css")}}">
        <link rel="stylesheet" href="{{asset("styles/home/home.css")}}">
	</head>
	<body>
		{% include "header/index.html.twig" %}
			<main>
			<div class="prsntn-section-container">
				<section class="prsntn-section" >
					<p class="prsntn-text">tt Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                    sint occaecat cupidatat non proident, sunt in culpa qui 
                    officia deserunt mollit anim id est laborum.
                    </p>
				</section>
				<div class="decoration-container">
				<div class="triangle"></div>
				<div class="line-block">
				</div>
				</div>
			</div>
			<section class="truck-section">
				<p class="truck-section-text">
				Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                    sint occaecat cupidatat non proident, sunt in culpa qui 
                    officia deserunt mollit anim id est laborum.</p>
				<div class="parallelegrams">
					<div class="parallelegram-borders">
						<div class="parallelegram"></div>
					</div>
					<div class="parallelegram-borders">
						<div class="parallelegram"></div>
					</div>
					<div class="parallelegram-borders">
						<div class="parallelegram"></div>
					</div>
					<div class="parallelegram-borders">
						<div class="parallelegram"></div>
					</div>
					<div class="parallelegram-borders">
						<div class="parallelegram"></div>
					</div>
					<div class="parallelegram-borders">
						<div class="parallelegram"></div>
					</div>
				</div>
			</section>
			<section class="carousel-section content-container">
				<div class="carousel">
					<div class="carousel-item left-item">
					<div class="carousel-img-container">
						<img src="{{asset("imgs/home/carousel/1200x768_le-chantier-de-construction-du-nouveau-chu-de-nantes-en-juillet-2023.png")}}" alt="">
						<div class="carousel-img-bg"></div>
					</div>
					</div>
					<div class="carousel-item  active">
					<div class="carousel-panel">
						<button class="previous-page-btn carousel-btn">
							<div class="arrow">
							</div>
						</button>
						<div class="carousel-indicators">
							<div class="carousel-indicator"></div>
							<div class="carousel-indicator active"></div>
							<div class="carousel-indicator"></div>
							<div class="carousel-indicator"></div>
							<div class="carousel-indicator"></div>
							<div class="carousel-indicator"></div>
						</div>
						<button class="next-page-btn carousel-btn">
							<div class="arrow"></div>
						</button>
					</div>
					<div class="carousel-img-container">
						<img src="{{asset("imgs/home/carousel/Chantier_02-1.png")}}" alt="">
						</div>
					</div>
					<div class="carousel-item right-item">
					<div class="carousel-img-container">
						<img src="{{asset("imgs/home/carousel/Chantier-3.png")}}" alt="">
						<div class="carousel-img-bg"></div>
					</div>
					</div>
					
				</div>
			</section>
			</main>
					{% include "footer/index.html.twig" %}
			<script src="{{asset("scripts/carousel.js")}}"></script>
	</body>
</html>
