<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{asset("styles/header/header.css")}}">
		<link rel="stylesheet" href="{{asset("styles/footer/footer.css")}}">
		<link rel="stylesheet" href="{{asset("styles/services/services.css")}}">
		<link rel="stylesheet" href="{{asset("styles/base.css")}}">

	</head>
	<body>
	<div class="details-modal-window-bg hide"></div>
		{% include "header/index.html.twig" %}

		<main class="content-container">
			
		</main>
		{% include "footer/index.html.twig" %}
		<script src="{{asset("scripts/detailsModalWindow.js")}}"></script>
	</body>
</html>
